/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen background */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("img/background.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1; /* фон позади */
}

.content, .book-container {
  position: relative;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}


.tagline {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cover {
  max-width: 90vw;
  max-height: 60vh;
  height: auto;
  width: auto;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.flags {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.flags img {
  width: 48px;
  height: auto;
  transition: transform 0.3s;
  cursor: pointer;
}

.flags img:hover {
  transform: scale(1.1);
}
